<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SHORT_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <service
            android:name="com.margelo.nitro.backgroundtimer.NitroBackgroundTimerService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="shortService" />
    </application>
</manifest>
